<div class="container-fluid">
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Nombre Común</th>
        <th>Tipo</th>
        <th>Clima</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planta of plantas">
        <td>{{ planta.id }}</td>
        <td>{{ planta.nombre_comun }}</td>
        <td>{{ planta.tipo }}</td>
        <td>{{ planta.clima }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <h5>Total de plantas de interior: {{plantasInteriores}}</h5>
    <h5>Total de plantas de exterior: {{plantasExteriores}}</h5>
  </div>
</div>
<footer>
  <p>Contact US: {{numeroCelular}} - {{email}} - {{social}} </p>
</footer>
